* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::before {
  content: '';
  width: 100%;
  height: 465px;

  position: absolute;
  top: 0;
  z-index: -1;

  background-color: #293241;
}

body {
  background-color: #e5e5e5;

  font-family: 'Poppins', sans-serif;
  color: #4e4958;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.page {
  width: 750px;
  margin: 0px auto 392px;

  text-align: center;
}

.blue-content {
  height: 465px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

header h1 {
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #ffffff;
}

header p {
  font-size: 16px;
  color: #ffffff;
}

header svg {
  width: 225px;
  margin: 25px 0 32px;
}

#form-top {
  height: 133px;

  background: #f67669;
  border-radius: 20px 20px 0px 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#form-top h2 {
  color: #fff;
}

#form-top h2,
legend {
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}

form {
  border: none;
  border-radius: 0px 0px 20px 20px;

  background-color: #ffffff;

  padding: 32px 64px 64px;
}

fieldset {
  border: none;
}

.input-wrapper,
.checkbox-wrapper {
  text-align: left;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form > fieldset:nth-child(2) > .fieldset-wrapper {
  gap: 32px;
}

legend {
  border-bottom: 1px solid #e6e6f0;
  padding-bottom: 8px;

  margin-bottom: 32px;
}

form > fieldset:nth-child(1) .col-2 {
  display: flex;
  gap: 22px;
}

.input-wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-wrapper label {
  display: flex;
  align-items: center;
  gap: 9px;
}

label span {
  font-size: 12px;
  line-height: 20px;
  color: red;
}

label span.grey {
  color: #c1bccc;

  transition: 200ms;
}

label span.grey:hover {
  color: #797387;
}

.input-wrapper input,
.input-wrapper textarea {
  background-color: #fafafc;

  padding: 15px 20px;

  border: 1px solid #e6e6f0;
  border-radius: 8px;

  font-family: 'Poppins', sans-serif;
  color: #645e72;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.input-wrapper input {
  height: 56px;
}

.input-wrapper textarea {
  height: 167px;
}

form > fieldset:nth-child(2) {
  margin: 32px 0 36px;
}

form fieldset:nth-child(2) .fieldset-wrapper div:nth-child(2) {
  width: 50%;
}

.checkbox-wrapper {
  position: relative;
}

.checkbox-wrapper input {
  width: 24px;
  height: 24px;

  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
}

.checkbox-wrapper label::before {
  content: '';
  width: 24px;
  height: 24px;

  background-color: #fafafc;
  border: 1px solid #e6e6f0;
  border-radius: 8px;
}

.checkbox-wrapper label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox-wrapper input:focus + label::before {
  outline: 3px solid black;
}

.checkbox-wrapper input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 16.17L4.83 12L3.41 13.41L9 19L21 7L19.59 5.59L9 16.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
}

.col-3 {
  display: flex;
  gap: 32px;
}

.col-3 .col-2 {
  width: 100%;
  display: flex;
  gap: 10px;
}

#submit-button {
  width: 100%;
  height: 51px;

  background-color: #f67669;

  border: none;
  border-radius: 8px;

  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;

  margin-top: 64px;

  transition: 200ms;
}

#submit-button:hover {
  background-color: #ec5241;
}