* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::before {
  content: '';
  width: 100%;
  height: 436px;

  position: absolute;
  top: 0;
  z-index: -1;

  background-color: #52586f;
}

body {
  width: 100%;
  height: 100%;
  /* Por que mesmo que tem q por isso? */

  background-color: #e5e5e5;
}

body .page {
  width: 750px;
  margin: 140px auto 366px;
}

.page header {
  width: 417px;
  color: #ffffff;
}

.page header h1 {
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
}

.page header p {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  margin: 18px 0 55px;
}

form#my-form {
  width: 100%;
  height: 1084px;

  padding: 64px;

  background-color: #fff;
  border: 1px solid #e6e6ef;
  border-radius: 20px 20px 0 0;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

legend {
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #535971;

  margin-bottom: 16px;
  padding-bottom: 8px;

  border-bottom: 1px solid #e6e6f0;
}

.input-wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.col-2 {
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: 22px;
}

label {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4e4958;
}

label span {
  font-size: 12px;
  line-height: 20px;
  color: red;
  
  margin-left: 9.12px;
}

label span.grey {
  color: #c1bccc;

  transition: 200ms;
}

/* acessibilidade */
label span.grey:hover {
  color: #5e5b63;
}

input {
  height: 56px;
  padding-inline: 24px;

  background: #fafafc;

  font-family: 'Poppins';
  font-size: 14px;
  color: #73707a;

  border: 1px solid #e6e6f0;
  border-radius: 8px;
}

/* input:invalid {
  outline: 1px solid red;
} */
/* Eu n to entendendo pq já começa ficando vermelho. É pq como começa sem ter as coisas dentro dos inputs ele dá como invalido. Essa prop tem que rolar depois que agt dá o salvar, mas n sei como fazer isso */

.little-fieldset .fieldset-wrapper .col-3 {
  display: flex;
  gap: 32px;
}

.little-fieldset h3 {
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #535971;
}

.little-fieldset .fieldset-wrapper .col-2 {
  gap: 10px;
}

footer {
  width: 100%;
  height: 160px;

  padding: 51px 71px;

  background-color: #535971;
  border-radius: 0 0 20px 20px;

  display: flex;
  flex-direction: column;
}

footer button {
  /* width: 100%; */
  /* Primeiro eu usei assim. Aí dps tentei com o display flex no footer, com flex direction column pra ele esticar, o rolê q eu n tinha entendido, mas os dois funcionaram */
  height: 56px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #ff5374;
  border: none;
  border-radius: 20px;

  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

footer button:hover {
  background: #f03157;
}

input:focus,
button:focus {
  outline: 2px solid #000;
}
